{% extends "video.html" %}

{% block title %}View Sentence{% endblock %}

{% block customcss %}
{% endblock %}

{% block left %}
{% endblock %}

{% block video_url %}{% url sooslwww.views.sentence_video sentence.id %}{% endblock %}

{% block below_video %}
{% endblock %}

{% block right %}
<div id="signs">
  <h2 class="block_label">Signs</h2>
  {{sign_text}}
  <a href="{% url sooslwww.views.sentence_all_signs sentence.id %}">
    <img src="{{ STATIC_URL }}images/add_sign.png"  />
  </a>
<br />
<a id="tags_link" href="{% url sooslwww.views.sentence sentence.id %}">Finished</a>
</div>
{% endblock %}
