img.sign_thumbnail {
    border: 1px #999 solid;
    padding: 1px;
    margin: 5px;
    height: 96px;
    width: 128px;
    display: inline-block;
    background-color: #fff;
}

a.gloss_url, a.gloss_url_selected {
    text-decoration: none;
    color: #336699;

}

a.gloss_url_selected {
    color: red;
    font-weight: bold;
}

a.gloss_url:hover {
    font-weight: bold;
    color: #3399CC;
}

a.gloss_url_selected:hover {
    text-decoration: line-through;

}

a.gloss_url {

}
