/* CSS Document */
html{
    margin-left: 0;
    margin-top: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    color: #333333;
    position: relative;
    margin: 0px;
    background-color: #FFFFFF;
}

a {
    text-decoration: underline;
}
a:link {
    color: #336699;
}
a:hover {
    color: #3399CC;
    text-decoration:underline;
}
a:visited {
    color: #6600CC;
}
a:active {
    color: #CC3333;
}
td {
    font-family: Arial, Helvetica, sans-serif;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: left;
}

h1, h2, h3, h4, h5 {
    color: #999999;
}

h2 {
   font-size: 16pt;
}


/*------------------------------------Top of page start------------------------------------*/
#logo_bar{
    position : absolute;
    top : 0;
    left : 0;
}
#top_banner{
    position: static;
    top : 0px;
    height: 81px;
    margin-left : 144px;
    background-color: #c3cb2a;
    padding: 0px 0px 0px 30px;
}

div.nav_link, div.icon{
    width: 120px;
    display: inline-block;
    text-align: center;
}

div.icon{
    padding-top: 3px;
}

#nav_top {
    padding: 1px 0px 1px 30px;
    font-size: 76%;
    background-color : white;
    position: static;
    left: 144px;
    top: 36px;
    margin-left: 144px;
}
#nav_top a.menuItem {
    background-color: transparent;
    color: black;
    padding: 0px;
    position: relative;
    text-decoration: none;
}
#nav_top a.menuItem:link,
#nav_top a.menuItem:visited
{
    color: black;
    text-decoration : none;
}
#nav_top a.menuItem:hover {
    color: black;
    text-decoration : none;
}


/*------------------------------------Top of page end------------------------------------*/

h1.HomeHead
{
    margin-left: 164px
}

h2.block_label {
    margin: 0px 0px 5px 0px;
}


#container {
min-width: 716px;
}

#left, #main, #right
{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: top;
}

#left {
    width: 134px;
}


#main {
    width: 512px;

}

#right {
    width: 194px;
}

div#glosses {
    width: 110px;
    margin-left: auto;
    margin-right: auto;
    border: 1px #999 solid;
    padding: 5px;
    text-align: center;
}

div#signs {
    width: 142px;
    margin-right: auto;
    border: 1px #999 solid;
    padding: 5px;
    text-align: center;
}


form#language_selector_form {
    text-align:center;
    margin: 0px 0px;
}

select#language_selector {

}

ul.gloss_list
{
    list-style-type: none;
    padding: 10px 2px;
    margin: 0px;
    word-wrap: break-word;
    text-align:left;
    font-size: 12pt;
}

li.gloss
{
    margin-bottom: 3px;
    min-height: 15pt;
}

a.gloss_url, a.gloss_url_selected {
    text-decoration: none;
    color: #336699;
}

a.gloss_url_selected {
    color: red;
    font-weight: bold;
}

a.gloss_url:hover {
    font-weight: bold;
    color: #3399CC;
}

a.gloss_url_selected:hover {
    text-decoration: line-through;

}

a#tags_link {
    color: #999;
    display: block;
    text-align: center;
    margin: 5px;
}



div#tag_grid, div#tag_grid_top {
    border: 1px #999 solid;
}

div#tag_grid
{
    margin-right: auto;
    margin-bottom: 20px;
    width: 102px;
    text-align: center;

}

div#tag_grid_top
{
     width: 512px;
}

div#body_locations {
    text-align:center;
    margin: 20px;
    border: 1px #999 solid;
    padding: 5px;
}

img.sign_thumbnail, img.sign_thumbnail_edit {
    border: 1px #999 solid;
    padding: 1px;
    margin: 5px;
    height: 96px;
    width: 128px;
    display: inline-block;
    background-color: #fff;
}

img.sign_thumbnail_edit:hover {
    opacity: 0.5;
}
