{% extends "master.html" %}

{% block title %}All Signs{% endblock %}

{% block customcss %}
<link href="{{ STATIC_URL }}css/all_signs.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/sign.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}
<div id="glosses">
  <h2 class=block_label>Glosses</h2>
  {% load language_chooser %}
  {% language_chooser %}
  {{ gloss_text }}
</div>
{% endblock %}

{% block content %}

<div id="tag_grid_top">
{{ tag_text }}
</div>

<div id="signs_grid">
{% for sign in all_signs %}
<a href="{% block sign_url %}{% url sooslwww.views.sign sign.id %}{% endblock %}"><img class="sign_thumbnail" src="{% url sooslwww.views.sign_thumbnail sign.id %}" alt="sign" /></a>
{% endfor %}
</div>
<div id="body_locations">
  <h2 class="block_label">Locations</h2>
     {{body_location_text}}
</div>
{% endblock %}
