<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta CONTENT="WWW@sil.org" HTTP-EQUIV="Reply-to">
<meta CONTENT="Document" NAME="Object-type">
<title>SooSL web version</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{{ STATIC_URL }}css/sil_org.css" rel="stylesheet" type="text/css">{% block customcss %}{% endblock %}{%block scripts %}{% endblock %}
</head>
<body>
<div id="logo_bar">
    <img src="{{ STATIC_URL }}images/left_column_logo.gif" alt="SIL International Home" width="144" height="144" hspace="0" vspace="0" border="0" align="left"/>
</div>
<div id="top_banner"></div>
<div id="nav_top">
    <a class="menuItem" href="{% url sooslwww.views.all_signs %}">VIEW ALL SIGNS</a>
    <a class="menuItem" href="{% url sooslwww.views.add_sign %}">ADD SIGN</a>
</div>

</script>
<div id="main">
	<h2 class="HomeHead">{% block title %} SooSL Web Version  {% endblock %}</h2>

	{% block content %}

	{% endblock %}

</div>
</body>
</html>
