{% extends "video.html" %}

{% block title %}View Sign{% endblock %}

{% block customcss %}
<link href="{{ STATIC_URL }}css/sign.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block left %}
<div id="glosses">
  <h2 class="block_label">Glosses</h2>
  {% load language_chooser %}
  {% language_chooser %}
  {{ gloss_text }}
  {% block below_glosses %}{% endblock %}
</div>
{% endblock %}

{% block video_url %}{% url sooslwww.views.sign_video sign.id %}{% endblock %}

{% block below_video %}
<div id="body_locations">
  <h2 class="block_label">Locations</h2>
  {{ body_locations_text }}
</div>
{% endblock %}

{% block right %}
  <div id="{% block tags_div_id %}{% endblock %}">
    <h2 class="block_label">Tags</h2>
    {{ tag_text }}
    {% block below_tags %}{% endblock %}
  </div>
  <div id="signs">
    <h2 class="block_label">Sentences</h2>
    {{ sentence_text }}
  </div>


</div>

{% endblock %}
